<nav class="navbar navbar-expand-lg bg-dark-subtle">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <strong>
        <li><%= link_to root_path do %>
          <%= image_tag("https://cdn-icons-png.flaticon.com/512/5973/5973800.png", size: '65x65') %>
        <% end %>
         <%= link_to 'Home' , home_index_path, class: "nav", class: "link-body-emphasis" %></strong></li>
        <li class="nav-item  px-4">
        <strong>
        <%= link_to users_path do %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/666/666201.png",size: '62x62' %>
        <% end%>
        <%= link_to 'User' , users_path , class: "nav", class: "link-body-emphasis" %></strong>
        </li>
        <li class="nav-item px-2" >
       <strong>
       <%= link_to clients_path do %>
        <li><%= image_tag("https://cdn-icons-png.flaticon.com/512/6009/6009864.png", size: '63x63') %>
        <% end%>
        <%= link_to 'Client' , clients_path , class: "nav", class: "link-body-emphasis"  %></strong>
       </li>
        <li class="nav-item  px-5">
        <strong>
        <%= link_to items_path do %>
          <%= image_tag("https://cdn-icons-png.flaticon.com/512/4129/4129437.png", size: '65x65') %>
        <% end%>
        <%= link_to 'Item' , items_path , class: "nav", class: "link-body-emphasis" %>
       </li></strong>
       </li>
       <li class="nav-item px-1" >
       <strong>
       <%= link_to invoices_path do %>
        <li><%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCjjf7VWDTYFuiywWIQ_jqRQ-fZcpw5pjbvAQ8AWs&s", size: '60x60') %>
        <% end%>
        <%= link_to 'Invoices' , invoices_path , class: "nav", class: "link-body-emphasis"  %></strong>
       </li>
        <li class="nav-item dropdown px-2" >
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBAeVuh4IDx4NnKfv77vZi_nTCvNOGkbpQjL-BuIs&s", size: '35x35') %>
            <strong>Show List</strong>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'User' , users_path , class: 'navber-brand '%></li>
            <li><%= link_to 'Item' , items_path , class: 'navber-brand' %>     </li>
            <li><%= link_to 'Invoices' , invoices_path , class: 'navber-brand' %></li></li>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Client' , clients_path , class: 'navber-brand' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>












<div class = "fields">
  <%= item.label :product_id, 'Select Product' %>
    <%= item.collection_select :product_id, Product.all, :id, :name, { prompt: 'Please Select product' }, { id: 'product_select' } %>

  <div id="product_attributes" style="display: none;">
    <table class = "table table-bordered">
      <tr>
        <th width="10%">Item</th>
        <th width="10%">Rate</th>
        <th width="10%">Tax Value</th>
        <th width="10%">GST</th>
        <th width="10%">Quantity</th>
        <th width="10%">Amount Paid</th>
      </tr>
      <tr>
        <td><span id="product_name"></span></td>
        <td><span id="product_rate"></span></td>
        <td><span id="product_tax_value"></span></td>
        <td><span id="product_gst"></span></td>
        <td><%= item.text_field :quantity, placeholder: "Quantity",size:"10" %></td>
        <td><%= item.text_field :amountPaid, placeholder:"Amount Paid",size:"10" %></td>
      </tr>
    </table>
</div>










<h1>Recycle Bin</h1>
<ul>
  <% User.only_deleted.each do |user| %>
    <li><%= user.name %> (<%= link_to 'Restore', restore_user_path(user), method: :post, data: { confirm: 'Are you sure you want to restore this user?' } %>)</li>
  <% end %>
</ul>
