<div class="container p-5 my-5 border" id="bank_details" >
  <h2>Bank Account Details </h2>
    Name: <span><%= @bank_account.name %></span><br>
    Account Number: <span><%= @bank_account.account_number %></span><br>
    IFSC Code: <span><%= @bank_account.ifsc_code %></span>
</div>
<%= link_to "back", organizations_path %>
