

.t{
  height: 50px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.padding_top{
  padding-top: 20px;
}
.test {
  color: black;
}
.nav{
  color: black;
}
.scrollable-select {
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
}
.highlighted {
  background-color: yellow; /* Set your preferred highlight color */
  font-weight: bold; /* Optionally, make the text bold */
}
