<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>
    /* Add your CSS styles here for PDF layout */
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
